* {
    border: none;
    border-radius: 0px;
    font-family: "Maple Mono SC NF";
    font-size: 8px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: #11111B;
    margin: 6.5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: transparent;
    color: transparent;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

#custom-clock {
    background: #11111B;
    color: #ffffff;
    font-size: 13px;
    margin: 6.5px 30px 5px 0px;
    padding: 6.5px 8px;
    border-radius: 16px;
}

#custom-launcher {
    font-size: 20px;
    background: #11111B;
    border-radius: 20px;
    border: solid 0px #f4d9e1;
    margin: 6.5px 0px 5px 28px;
    padding: 0px 15px 0px 8px;
    transition: .3s;
}

#custom-launcher:hover {
    background: #2a2a38;
    transition: .3s;
}

#pulseaudio {
	background: #11111B;
    border-radius: 16px;
    border: solid 0px #f4d9e1;
    margin: 6.5px 10px 5px 0px;
    padding: 0px 8px;
    color: #ffffff;
}

#pulseaudio.muted {
    border-radius: 16px;
    color: red;
}

#network {
    background: #11111B;
    border-radius: 16px;
    border: solid 0px #f4d9e1;
    margin: 6.5px 10px 5px 0px;
    padding: 0px 8px;
    color: #ffffff;
    font-size: 13px;
}
